.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a2456;
  box-shadow: 1px 11px 35px rgba(0,0,0,.15);
}

.nav-bar ul li {
  display: inline;
  margin: 0.5rem 1rem;
  letter-spacing: 2px;
  transition: top .3s ease;
  
  a {
    color: #efc2b3;
    text-decoration: none;
  }
}

.logo {
  height: 50px;
}
