.container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 100;
  outline: none;
  padding: 1rem 0;
  margin: auto;
  flex-wrap: wrap;
}

.nav-bar {
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #1a2456;
  box-shadow: 1px 11px 35px rgba(0,0,0,.15);
  flex-flow: row nowrap;
}

.nav-bar ul li {
  display: inline;
  margin: 0.5rem 1rem;
  letter-spacing: 2px;
  transition: top .3s ease;
  
  a {
    color: #efc2b3;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
  }

  a:hover {
    color: #ff7952;
  }
}

.logo {
  height: 80px;
}
